{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block css_files %} {% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
    {% block header %}
        {% include 'base/header.html' %}
    {% endblock %}

    {% block content %}
        CONTENT BASE
    {% endblock %}

    {% block footer %}
         {% include 'base/footer.html' %}
    {% endblock %}

    <a href="#" class="ir-arriba btn btn-success"><span class="glyphicon glyphicon-arrow-up"></span></a>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block js_files %} {% endblock %}
</body>
</html>