<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center" style="vertical-align: middle">
                <p style="margin-top: 10px">¿Querés recibir ofertas exclusivas de hoteles? <b>¡Suscribite a nuestra newsletter!</b></p>
            </div>
            <div class="col-lg-6 text-center">
                <form action="#">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control" id="inputGroupSuccess3" aria-describedby="inputGroupSuccess3Status" placeholder="tuemail@hotmail.com.ar">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 text-center" style="margin-top: 40px">
                Desarrollado por Martin Liut &copy | Todos los derechos reservados
            </div>
        </div>
    </div>
</footer>